{% extends "post/base.html" %}
{% load static %}
{% block content %}
	<div class="container-fluid bg-2 text-center">
		<img src= "{% static 'tendera.png'%}" alt="logo">
		<h4>"tendera" plans to assist businesses and organizations by providing a portal to post tenders and requirements. These requirements are tracked by dealers/businesses all over the world which in turn provide a quotation to take up the task. It helps to outsource services such as a requirement of “personnel’s to guard the premises”, “a cleaning staff” etc. and product requirements such as “computers and laptops”, “construction materials” etc.</h4>
		<h4>Further, it includes business listings where dealers can list the services and products offered by them, providing a way for users to directly connect(as opposed to posting a tender) to them when in need.</h4>
	</div> 
{% endblock content %}
cd