{% extends "post/base.html" %}
{% block content %}
<div>
    <div id="googleMap" style="width:100%;height:400px;"></div>
    <br>
	  <img src="{{ advert.image.url }}" style="height: 250px;width: 250px;padding: 0px 10px 10px 0px" align="left">
      <h3 style="display: inline;"><span style="float: right" class="label label-success">4.1</span>
		  {% if advert.author == user  %}
		      <div>
		      	<a class="btn btn-secondary btn-sm mb-1 mt-1" href="{% url 'advert-update' advert.id %}">Update</a>
		      	<a class="btn btn-danger btn-sm mb-1 mt-1" href="{% url 'advert-delete' advert.id %}">Delete</a>
		      </div>
	      {% endif %}
      </h3>

      <div>
        <b style="color: black;font-size: 20px">{{ advert.name }}</b>
        <br>
        {{ advert.address }}
        <hr>
      </div>

      <table>
        <tr>
          <td>
            Working Hours:
          </td>  
          <td class="second-dat">
            {{ advert.hours }}
          </td>
        </tr>
        <tr>
          <tr>
          <td>
            Email:
          </td>  
          <td class="second-dat">
            {{ advert.email }}
          </td>
        </tr>
        <tr>
          <td>
            Featured In:
          </td>  
          <td class="second-dat">
              {% for product in advert.products.all %}
                {{ product }}
              {% endfor %}
          </td>
        </tr>
       </table>
</div>

<div class="article-content" style="float: left;">
  <b>Bio:</b>{{ advert.details }}</p>
</div>
	<!-- <article class="media content-section">
	  <img class=" img-rounded article-imag" style="width: 40px; height: 40px" src="{{ advert.author.userprofile.image.url }}">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">{{ advert.author }}</a>
	      <small class="text-muted">{{ advert.date_adverted|date:"F d, Y" }}</small>
	      {% if advert.author == user  %}
		      <div>
		      	<a class="btn btn-secondary btn-sm mb-1 mt-1" href="{% url 'advert-update' advert.id %}">Update</a>
		      	<a class="btn btn-danger btn-sm mb-1 mt-1" href="{% url 'advert-delete' advert.id %}">Delete</a>
		      </div>
	      {% endif %}
	    </div>
	    <h2 class="article-title">{{ advert.details }}</h2>
	    <h2><a class="article-title" href="#">{{ advert.address }}</a></h2>
	    <p class="article-content">{{ advert.author }}</p>
	  </div>
	</article>  -->
{% endblock content %}


