{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'post/main.css' %}">


	{% if title %}
		<title>Tendera - {{ title }}</title>
	{% else %}
		<title>Tendera</title>
	{% endif %}

</head>
<body >
	<nav class="navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="{% url 'home' %}">
	      	<span>
	      	<img src= "{% static 'tendera.png'%}" alt="logo" style="width:25px;">
	      	tendera
	      	</span>
	      </a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li ><a href="{% url 'post-home' %}">Home</a></li>
	      <li ><a href="{% url 'advert-home' %}">Ads</a></li>
	      <li><a href="{% url 'post-about' %}">About</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      {% if user.is_authenticated %}
	      	  <li><a href="{% url 'user-dashboardads' user.username %}"><span class="glyphicon glyphicon-user"></span>	My Ads</a></li>
	      	  <li><a href="{% url 'user-dashboard' user.username %}"><span class="glyphicon glyphicon-user"></span>	Dashboard</a></li>
	      	  <li><a href="{% url 'advert-create' %}"><span class="glyphicon glyphicon-user"></span>	Have a business?</a></li>
	      	  <li><a href="{% url 'post-create' %}"><span class="glyphicon glyphicon-user"></span>	Post New Tender</a></li>
	      	  <li><a href="{% url 'user-profile' %}"><span class="glyphicon glyphicon-user"></span>	Profile</a></li>
	      	  <li><a href="{% url 'user-logout' %}"><span class="glyphicon glyphicon-user"></span>	Logout</a></li>
	      {% else %}
	      	  <li><a href="{% url 'user-register' %}"><span class="glyphicon glyphicon-log-in"></span>	Sign Up</a></li>
		      <li><a href="{% url 'user-login' %}"><span class="glyphicon glyphicon-log-in"></span>	Log In</a></li>
		  {% endif %}
	    </ul>
	  </div>
	</nav>
	<div class="container" style="min-height: 100%">
		<br>
		{% if messages%}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div> 
		{% endfor%}
		{% endif %}
		{% block content %}{% endblock%}
	</div>
	<br>
<!-- <footer style="position: relative;">
	<div style="background-color: #383838;">
		<br>
		  <div class="container">
		  <div class="row">
		    <div class="col-sm-4">
		      <span style="color: white">
		      	<img src= "{% static 'tendera.png'%}" alt="logo" style="width:50px;">
		      	<b style="font-size: 25px">tendera</b>
	      	  </span>
	      	  <br>
	      	  <br>
		      <p style="color: white"><span class="glyphicon glyphicon-map-marker"></span> Delhi, India</p>
		      <p style="color: white"><span class="glyphicon glyphicon-phone"></span> +91 0000000000</p>
		      <p style="color: white"><span class="glyphicon glyphicon-envelope"></span> help.tendera@gmail.com</p>
		      <br>
		    </div>
		    <div class="col-sm-4">
		      <a href="{% url 'post-home' %}"><p style="color: white">Home</p></a>
		      <a href="{% url 'post-about' %}"><p style="color: white">About</p></a>
		      <br>
		    </div>
		    <div class="col-sm-4">
		      <a href="{% url 'user-register' %}"><p style="color: white">Register</p></a>
		      <a href="{% url 'user-login' %}"><p style="color: white">Sign In</p></a>
		      <br>
		    </div>
		  </div>
		  </div>
		  <div class="footer-copyright text-center py-3" style="color: white">© 2018 Copyright:
      			<a href="#">Tendera</a>
  		  </div>
	</div>
</footer> -->
	<!-- Footer -->
  <!-- Footer -->
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

		function myMap() {
		var mapProp= {
		    center:new google.maps.LatLng(15.4589,75.0078),
		    zoom:10,
		};
		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		}

		function mySearch() {
			var input, filter, a, name, i;
			input = document.getElementById('myInput');
			filter = input.value.toUpperCase();
			name = 	document.getElementsByTagName('article');
			for(i=0;i<name.length;i++){
				a = name[i].getElementsByTagName("b")[0];
				if(a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            			name[i].style.display = "";
        		} 
        		else{
            			name[i].style.display = "none";
        		}
			}
	 	}

	 	function mySearch2() {
			var input, filter, a, name, i;
			input = document.getElementById('myInput2');
			filter = input.value.toUpperCase();
			name = 	document.getElementsByTagName('article');
			for(i=0;i<name.length;i++){
				a = name[i].getElementsByTagName("b")[0];
				if(a.innerHTML.toUpperCase().indexOf(filter) > -1){
            			name[i].style.display = "";
        		} 
        		else{
            			name[i].style.display = "none";
        		}
			}
	 	}

	 	// var $divs = $("div.post");

		$('#quantity').on('click', function () {
		    var numericallyOrderedDivs = $("div.post").sort(function (a, b) {
		        return $(a).find("h5").text() > $(b).find("h5").text();
		    });
		    $("#posts").html(numericallyOrderedDivs);
		});
	 	// function quantity(){
	 	// 	var a, name, i;
			// name = 	document.getElementsByTagName('article');
			// for(i=0;i<name.length;i++){
			// 	alert()
			// }
	 	// }
	</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmnAF87Yc4RIMYhvAkRvD14yRycaDNmP8&callback=myMap"></script>
</body>
</html>