{% extends "post/base.html" %}
{% block content %}
<div>
    <input type="text" id="myInput" onkeyup="mySearch()" placeholder="Search for names..">
    <div class="col-sm-3">
  <section class="media content-section" style="border: 1px solid;border-color: #999999;border-radius: 5px;padding: 10px">
    <div>
      <span style="padding: 10px;"><b>Sort By:</b></span>
      <div>
        <div class="col-sm-4">Op.Time</div>
        <div class="col-sm-4">
        <a href="{% url 'advert-home' 'hours' %}" style="text-decoration: none;color: #444444">
          <span id="quantity" onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="glyphicon glyphicon-sort-by-order">       
          </span>
        </a>
        </div>
        <div class="col-sm-4">
        <a href="{% url 'advert-home' '-hours' %}" style="text-decoration: none;color: #444444">
          <span id="-quantity" onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="glyphicon glyphicon-sort-by-order-alt">
          
          </span>
        </a>
        </div>
      </div>

      <div>
        <div class="col-sm-4">Alphabet...</div>
        <div class="col-sm-4">
        <a href="{% url 'advert-home' 'name' %}" style="text-decoration: none;color: #444444">
          <span id="quantity" onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="glyphicon glyphicon-sort-by-alphabet">
          
          </span>
        </a>
        </div>
        <div class="col-sm-4">
        <a href="{% url 'advert-home' '-name' %}" style="text-decoration: none;color: #444444">
          <span id="-quantity" onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="glyphicon glyphicon-sort-by-alphabet-alt">
          
          </span>
        </a>
        </div>
      </div>

      <div>
        <div class="col-sm-4">Date</div>
        <div class="col-sm-4">
        <a href="{% url 'advert-home' 'date_posted' %}" style="text-decoration: none;color: #444444">
          <span id="quantity" onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="glyphicon glyphicon-sort-by-attributes">
          
          </span>
        </a>
        </div>
        <div class="col-sm-4">
        <a href="{% url 'advert-home' '-date_posted' %}" style="text-decoration: none;color: #444444">
          <span id="-quantity" onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" class="glyphicon glyphicon-sort-by-attributes-alt">
          
          </span>
        </a>
        </div>
      </div>
  </section>
</div>
	<div class="col-sm-9">
   {% for advert in adverts %}
    <div> 
      <article id="ads" class="media content-section" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div style="padding: 10px;">
      <img src="{{ advert.image.url }}" style="height: 250px;width: 250px;padding: 0px 10px 10px 0px;float: left;" >
      <h3 style="display: inline;"><span style="float: right" class="label label-success">4.1</span></h3>
      <div>
        <b id='business-name' style="color: black;font-size: 20px">{{ advert.name }}</b>
        <br>
        {{ advert.location }}
        <hr>
      </div>
      <table style="">
        <tr>
          <td>
            Address:
          </td>  
          <td class="second-dat">
              {{ advert.address }}
          </td>
        </tr>
        <tr>
          <td>
            Working Hours:
          </td>  
          <td class="second-dat">
            {{ advert.hours }}
          </td>
        </tr>
        <tr>
          <tr>
          <td>
            Email:
          </td>  
          <td class="second-dat">
            {{ advert.email }}
          </td>
        </tr>
        <tr>
          <td>
            Featured In:
          </td>  
          <td class="second-dat">
              {% for product in advert.products.all %}
                {{ product }}
              {% endfor %}
          </td>
        </tr>
      </table>
      <br>
      <br>
      <a href="{% url 'advert-detail' advert.id %}"><button style="background-color: #EAC117;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;float: right;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: relative;bottom: 0px;"><b>Details</b></button></a>
      </div>
    </article>
    </div>
    <br>
  {% endfor %} 
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
      {% endif %}

    {% endif %}
  </div>
</div>
{% endblock content %}


